				{% for spot in spot_list|dictsortreversed:"online" %}
			  	{% ifequal spot.online "0" %}
				<div class="spot_disabled">
				<div style="float:left;width:30px;position:relative"><img width="16" height="16" id="online_{{spot.id}}" src="/media/images/s{{spot.online}}.png" style="vertical-align:-2px"/></div>   
				<div style="float:left">{{ spot.name }}</div>
				</div>
				{% else %}
				<div class="spot_button" onclick="play_video('{{ spot.name }}','sip:{{spot.id}}@{{host}}:{{gateway.port}}')" onmouseover="button_spot_over(this)" onmouseout="button_spot_out(this)" onmousedown="this.style.color='red'" onmouseup="this.style.color='white'">
				<div style="float:left;width:30px;position:relative"><img width="16" height="16" id="online_{{spot.id}}" src="/media/images/s{{spot.online}}.png" style="vertical-align:-2px"/></div>   
				<div style="float:left">{{ spot.name }}</div>
				</div>
				{% endifequal %}
				{% endfor %}